.container{
    display: flex;
    justify-content: center;
    /* background-color: rgb(239, 238, 238); */
    height: 10vh;
    bottom: 0;
    position: sticky;
}

.indiv{
    width: 70%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.input{
    /* background-color: red; */
    width: 70%;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    padding: 12px;
    box-shadow: 0 0 10px rgb(73, 73, 73);
    overflow: hidden;
}

.input:focus{
    outline: none;
    box-shadow: 0 0 10px rgb(73, 73, 73);
}
.send{
    border: none;
    background-color: darkslateblue;
    height: 50px;
    margin-left: 10px;
    border-radius: 20%;
    color: #fff;
    width: 50px;
    /* margin-right: 50px; */
}


@media (max-width: 400px){
    .indiv{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input{
        width: 90%;
        height: 50px;
        border-radius: 10px;
        border: none;
        font-size: 15px;
        padding: 12px;
        box-shadow: 0 0 10px rgb(73, 73, 73);
        overflow: hidden;
    }
}

@media (min-width: 400px) and (max-width: 614px) {
    .indiv{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input{
        width: 90%;
        height: 50px;
        border-radius: 10px;
        border: none;
        font-size: 18px;
        padding: 12px;
        box-shadow: 0 0 10px rgb(73, 73, 73);
        overflow: hidden;
    }
}
@media (min-width: 615px) and (max-width: 900px) {
    .indiv{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input{
        width: 80%;
        height: 50px;
        border-radius: 10px;
        border: none;
        font-size: 16px;
        padding: 12px;
        box-shadow: 0 0 10px rgb(73, 73, 73);
        overflow: hidden;
    }
}