.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 11vh;
    bottom: 0;
    position: sticky;
    background-color: var(--primary);
}

.indiv {
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    margin-right: 10px;
    width: 70%;
    height: 50px;
    border-radius: 20px;
    /* border: 1px solid #ccc; */
    border: none;
    font-size: 16px;
    padding: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(73, 73, 73);
    background-color: var(--bgColor);
    color: var(--secondary);
}

.input:focus {
    outline: none;
    box-shadow: 0 0 10px rgb(73, 73, 73);
}

.send {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: darkslateblue;
    height: 50px;
    border-radius: 20%;
    color: #fff;
    width: 50px;
    cursor: pointer;
}

.send:disabled {
    background-color: #c2c2c2;
    cursor: not-allowed;
}

.note {
    text-align: center;
    color: red;
    font-weight: 400;
    font-size: small;
    padding: 0 15px;
}

.footer{
    background-color: var(--primary);
    width: 100%;
}

.btn{
    color: #fff;
}


@media (max-width: 400px) {
    .indiv {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input {
        width: 90%;
        border-radius: 10px;
        border: none;
        font-size: 15px;
        padding: 12px;
        box-shadow: 0 0 10px rgb(73, 73, 73);
        overflow: hidden;
    }
}

@media (min-width: 400px) and (max-width: 614px) {
    .indiv {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input {
        width: 90%;
        border-radius: 10px;
        border: none;
        font-size: 18px;
        padding: 12px;
        box-shadow: 0 0 10px rgb(73, 73, 73);
        overflow: hidden;
    }
}

@media (min-width: 615px) and (max-width: 900px) {
    .indiv {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input {
        width: 80%;
        border-radius: 10px;
        border: none;
        font-size: 16px;
        padding: 12px;
        box-shadow: 0 0 10px rgb(73, 73, 73);
        overflow: hidden;
    }
}