.containerWrap{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container{
    width: 70%;
}

.msgWrap{
    width: 100%;
    display: flex;
    padding: 10px;
}
.img{
    border-radius: 50%;
}
.msg{
    padding: 8px;
    border-radius: 10px;
    margin: 5px;
}

.userWrap{
    padding: 10px;
    width: 100%;
    display: flex;
    overflow: hidden;
    background-color: #e6e6e6;
    /* border: .2px solid #1b1b1b; */
    /* background-color: rgb(230, 230, 230); */
}
.loaderdiv{
    margin-left: 10px;
}
.errmsg{
    padding: 8px;
    border-radius: 10px;
    margin: 5px;
    color: red;
}
.err{
    opacity: .7;
}
.head{
    /* color:rgb(89, 88, 88); */
    text-align: center;
    padding: 5px 0;
}
.bannerContainer{
    margin-top: 10px;
}
.bannerContainer p{
    margin-top: 5px;
    color: rgb(108, 108, 108);
}
.qna{
    margin-top: 10px;
}

.doneby{
    padding: 15px;
    opacity: .7;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.doneby div{
    text-align: center;
}

.navContainer {
    /* background-color: rgb(239, 238, 238); */
    background-color: #1b1b1b ;
    /* border-radius: 10px; */
    width: 70%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.navContainerWrap {
    position: sticky;
    top: 0;
    /* z-index: 100; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.navLeft img {
    width: 50px;
    height: 50px;
}

.navLeft span {
    margin: 0 10px;
}

.navTitle {
    text-decoration: bold;
    font-size: 20px;
}

.clear {
    border: none;
    background-color: darkslateblue;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
}
.note{
    color: red;
    opacity: .7;
    font-size: 1rem;
}

@media (max-width: 400px) {
    .navContainer {
        width: 100%;
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        border-radius: none;
    }
    .navContainerWrap {
        position: sticky;
        top: 0;
        /* z-index: 100; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        width: 100%;
    }
}

@media (min-width: 400px) and (max-width: 614px) {
    .navContainer {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        border-radius: none;
    }

    .navContainerWrap {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        width: 100%;
    }
}

@media (min-width: 615px) and (max-width: 900px) {
    .navContainer {
        width: 100%;
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        border-radius: none;
    }
    .container{
        width: 100%;
    }
    .navContainerWrap {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 900px) and (max-width: 1080px){
    .navContainer {
        width: 80%;
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
    }
} 