.screen {
    min-height: 100dvh;
    height: 100vh;
}

.containerWrap {
    width: 100%;
    position: relative;
    padding-bottom: 10vh;
    min-height: calc(100vh - 20vh);
    display: flex;
    justify-content: center;
    background-color: var(--primary);
}

.msgWrap {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--textColor);
}

.img {
    border-radius: 50%;
}

.msg {
    padding: 15px 10px;
    border-radius: 10px;
    margin-left: 30px;
    background-color: var(--msgbg);
}

.userWrap {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: var(--textColor);
    /* background-color: #efefef; */
    /* align-items: center; */
}

.botWrap {
    padding: 10px;
    width: 100%;
    overflow: hidden;
    color: var(--textColor);
    /* background-color: #ffffff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loaderdiv {
    margin-left: 10px;
}

.errmsg {
    padding: 8px;
    border-radius: 10px;
    margin-left: 30px;
    color: red;
    opacity: .7;
}

.fixtype {
    margin-bottom: 15px;
    height: 100px;
    width: 100%;
}

.head {
    text-align: center;
    font-size: 30px;
}

.cont {
    background-color: var(--primary);
    overflow-y: hidden;
    color: var(--textColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

}

.bannerContainer {
    /* height: 35%;     */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerContainer p {
    margin-top: 5px;
}

.examples {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fixeddiv {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
}

.qna {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


.navContainer {
    /* background-color: #1b1b1b; */
    background-color: var(--navColor);
    color: var(--textColor);
    width: 70%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.navContainerWrap {
    background-color: var(--primary);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.navLeft {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLeft img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.navLeft span {
    margin: 0 10px;
}

.navTitle {
    text-decoration: bold;
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 500;
    color: var(--textColor);
}

.clear {
    border: none;
    background-color: darkslateblue;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
}

.note {
    color: red;
    /* font-weight: 400; */
    opacity: .7;
    font-size: 1rem;
}

.container {
    width: 70%;
    height: 80vh;
    background-color: var(--primary);
}

.github {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.usertag {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bold {
    font-weight: 500;
}

.timediv {
    display: flex;
    justify-content: right;
    font-size: 10px;
    color: #6b6b6b;
}

.navRight {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.btn {
    cursor: pointer;
}


@media (max-width: 400px) {
    .navContainer {
        width: 100%;
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        border-radius: none;
    }

    .navContainerWrap {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 100%;
    }

    .head {
        text-align: center;
        font-size: 30px;
        margin-top: 60px;
    }
}

@media (min-width: 400px) and (max-width: 614px) {
    .navContainer {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        border-radius: none;
    }

    .navContainerWrap {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 100%;
    }

    .head {
        text-align: center;
        font-size: 30px;
        margin-top: 50px;
    }
}

@media (min-width: 615px) and (max-width: 900px) {
    .navContainer {
        width: 100%;
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        border-radius: none;
    }

    .container {
        width: 100%;
    }

    .navContainerWrap {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 900px) and (max-width: 1080px) {
    .navContainer {
        width: 100%;
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
    }

    .container {
        width: 100%;
    }
}