:root {
    --primary: #edf2fc;
    --secondary: #212121;
    --bgColor: #fff;
}

.dark {
    --primary: #001514;
    --secondary: #fff;
    --bgColor: #212121;
}

.box{
    padding: 0 10%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* text-align: center; */
}
.title{
    padding: 3px 10px;
    font-weight: 500;
    font-size: 1rem;
}
.que{
    background-color: var(--bgColor);
    padding: 10px;
    border-radius: 5px;
}