@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

:root {
    --primary: #edf2fc;
    --secondary: #212121;
    --textColor: black;
    --bgColor: #fff;
    --navColor: #d6edff;
}

[data-theme="dark"] {
    --primary: #242331;
    --secondary: #fff;
    --textColor: #fff;
    --bgColor: #212121;
    --navColor: #242331;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;;
    font-weight: 300;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #efefef;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}
